@import 'reset';
@import 'typography';
@import "@hashicorp/design-system-components";

@import 'preferences';
@import 'charts';

.main {
  margin-right: 250px;
  margin-bottom: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
