<div class="bar-chart">
  <h2>{{@data.name}}</h2>
  {{#each this.preferences.commodities as |commodityName|}}
    {{#let (find-by "name" commodityName @data.commodities) as |commodity|}}
      <StackedBarSvg @data={{commodity}} @maxPeerTotal={{this.maxPeerTotal}} @focusData={{this.focusData}} />
    {{/let}}
  {{/each}}
</div>
